@model DanceStudioFinder.Models.DanceStudio

<head>
    <link rel="stylesheet" href="~/css/studioItem.css" asp-append-version="true" />
</head>


<div class="studio-item">
    <div class="studio-header"></div> 
    <div class="studio-content">
        <h3>
            <a href="@Url.Action("Index", "StudioDetails", new { id = Model.IdStudio })">@Model.Name</a>
        </h3>
        @* Используем Address из навигационного свойства DanceStudio *@
        <p class="address">
            @if (Model.IdAddressNavigation != null)
            {
                @($"{Model.IdAddressNavigation.Entity}, {Model.IdAddressNavigation.Locality}, ул. {Model.IdAddressNavigation.Street}, {Model.IdAddressNavigation.BuildingNumber}{Model.IdAddressNavigation.Letter}")
            }
            else
            {
                <span>Адрес не указан</span>
            }
        </p>
        @{
            string number = "+7 (" + (Model.PhoneNumber.ToString()).Substring(0, 3) + ") " +(Model.PhoneNumber.ToString()).Substring(3, 3) + "-" + (Model.PhoneNumber.ToString()).Substring(6, 2) + "-" + (Model.PhoneNumber.ToString()).Substring(8, 2);
            string extraNumber = "";
            if (Model.ExtraPhoneNumber != null)
            {
                extraNumber = "+7 (" + (Model.ExtraPhoneNumber.ToString()).Substring(0, 3) + ") " + (Model.ExtraPhoneNumber.ToString()).Substring(3, 3) + "-" + (Model.ExtraPhoneNumber.ToString()).Substring(6, 2) + "-" + (Model.ExtraPhoneNumber.ToString()).Substring(8, 2);
            }
        }
        @{
            if (extraNumber.Length == 0)
            {
                <p>
                    Телефон: @number
                </p>
            }
            else
            {
                <p>
                    Телефон: @number | @extraNumber 
                </p>
            }
        }
        
        @{

            if (Model != null && Model.Prices.Any())
            {
                foreach (var price in Model.Prices)
                {
                    <div class="price-item">
                        <span class="price-description">@price.Description</span>
                        @if (price.Price1 == 0)
                        {
                            <span class="price-value">бесплатно</span>
                        }
                        else
                        {
                            <span class="price-value">@price.Price1</span>
                        }
                    </div>
                }
            }
        }

        <!-- Разделитель между студиями - розовая полоса -->
        <hr style="border: none; border-top: 3px solid #F7C9D4;"> 
    </div>
</div>